git+https://github.com/DuncanLittlechild/A1_inventory_management.git@2bb09ce8e7fa6714cef384621d488213abb3574e#egg=A1_inventory_management
contourpy==1.3.3
cycler==0.12.1
defusedxml==0.7.1
et_xmlfile==2.0.0
fonttools==4.60.1
future==1.0.0
kiwisolver==1.4.9
matplotlib==3.10.7
numexpr==2.14.1
numpy==2.3.4
odfpy==1.4.1
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
pandastable==0.14.0
pillow==12.0.0
platformdirs==4.5.0customtkinter
pyclean==3.1.0
pyparsing==3.2.5
python-calamine==0.5.3
python-dateutil==2.9.0.post0
pytz==2025.2
pyxlsb==1.0.10
setuptools==80.9.0
six==1.17.0
tzdata==2025.2
wheel==0.45.1
xlrd==2.0.2
xlsxwriter==3.2.9
